{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": "3"
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "env": {
        "development": {
            "presets": [["@babel/preset-react", { "development": true }]]
        }
    }
}
